
.calender-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.calender-header{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.calender-header-days, .days-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.calender-header-day{
  padding: 8px 20px;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.btn{
  padding:0px 10px;
  margin: 8px;
  border: 1px solid black;
  border-radius: 20%;
  background-color: white;
  cursor: pointer;
}

.btn:hover{
  background-color: black;
  color: white;
}

.selected-day{
  background-color: rgb(29, 216, 91);
  color: black;
}

.title{
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
}

.year-title{
  margin-top: 5px;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}

.today{
  background-color: rgb(252, 229, 29);
  color: black;
}